*{
    color: #222;
    font-family: Lato;
}

body {
    background-color: rgb(255, 237, 212);
}

.page-title {
    display: flex;
    justify-content: center;
  }

.section-1 {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    background-color: #fafafa;
    border-radius: 15px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow */
    margin:5px; /* Adjust spacing between sections */
}

.map {
    background-color: #ffffff;
    border-radius: 15px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow */
}

.sub-section-right {
    background-color: #ffffff;
    border-radius: 15px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow */

}

.section-2 {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    background-color: #fafafa;
    border-radius: 15px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow */
    margin: 20px; /* Adjust spacing between sections */
}

.checkbox {
    background-color: #ffffff;
    border-radius: 15px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow */

}



#data-select {
    width: 200px;
    padding: 10px;
    font-size: 12px;
    border-radius: 10px;
    border: 2px solid #ccc;
    background-color: #fff;
    color: #333;
    text-align: center;
}

#data-select option {
    padding: 10px;
    font-size: 12px;
    border-radius: 10px;
    background-color: #fff;
    color: #333;
    text-align: center;
}

#data-select:hover {
    border-color: #007bff;
    text-align: center;
}

#data-select:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px #007bff;
    text-align: center;
}

.search-container {
    margin-bottom: 20px;
}
.search-container input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.search-container button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.checkboxes {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 600px; /* Adjust the height to fit your needs */
    width: 400px;
    margin-bottom: 10px; /* Adjust spacing between checkboxes */
}

.checkbox {
    margin-bottom: 10px; /* Adjust spacing between checkboxes */
}

#find-Btn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}